<style>
    .print-format {
        font-family: Helvetica, sans-serif;
        font-size: 11px;
    }

    .print-format h5 {
        font-size: 20px;
    }
    /*#main{margin: 20px auto}*/
    .title {
        font-size: 1.25rem;
        text-align: center;
        background-color: #e6b8b878;
        border: 1px solid #000;
        padding: 5px;
        margin-bottom: 10px;
        font-weight: bold;
        color: #c13c3c;
        line-height: 1;
        margin-top: 10px;
    }

    table {
        border-color: #000
    }

    .bold {
        font-weight: bold;
    }

    .table td,
    .table th {
        padding: .2rem
    }

    .reg-no {
        display: block;
        border-top: 2px solid #eee;
        text-align: right;
        bottom: -18px;
        position: absolute;
        width: 100%;
    }

    .logo {
        width: 100%;
        overflow: hidden;
    }

    .logo img {
        /*width: 100%;*/
        max-height: 100px;
    }

    .tag-line {
        text-align: center;
        width: 100%;
        font-weight: bold;
        margin-bottom: 0;
    }

    .horline {
        width: 250px;
        height: 2px;
        background-color: #eee;
        display: block;
    }

    .header {
        margin-bottom: 9px;
        margin-top: 38px;
    }
    @media screen, print {
        #background{
            position:absolute;
            z-index:0;
            background:white;
            display:block;
            color:black;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            text-align: center;
            display: table;

        }
        #content{
            position:absolute;
            z-index:1;
        }

        #bg-text
        {
            color:lightgrey;
            font-size:80px;
            display: table-cell;
            float: none;
            vertical-align: middle;
            opacity: .5;
        }
    }

    #main {
        padding-top: 10px;
    }
    body .print-preview{position:relative}
</style>

    {% if doc.status ==  "Overdue" %}
            <div id="background">
                <p id="bg-text"><img src="assets/spare_part/images/KEBD-Watermark Seal.jpg" width="200px"></p>

	        </div>
            {% endif %}
    <div class="body" >

    {% for page in layout %}
        <div class="page-break">
        <!-- Start HTML -->
        <div {% if print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf" {% endif %}>
            <div class="letter-head">{{ letter_head or "" }}</div>
        </div>
    <!-- {{ letter_head or "" }} -->

    {% if print_settings.repeat_header_footer %}
    <div id="footer-html" class="visible-pdf">
        {% if not no_letterhead and footer %}
        <div class="letter-head-footer">
            {{ footer }}
        </div>
        {% endif %}
        <p class="text-center small page-number visible-pdf">
            {{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
        </p>
    </div>
    {% endif %}
    <!-- Body -->
    <div class="clearfix"></div>
    <div class="row">
        <div id="main" class="col-md-12">
            <h4 class="title">{{ doc.select_print_heading or _("Sales Invoice") }}</h4>
            <table class="table table-bordered">
                <tr>
                    <th width="20%">{{ _("Ref No:") }}</th>
                    <td>{{ doc.name }}</td>
                    <th>{{ _("Date") }}</th>
                    <td colspan="3"> {{ frappe.utils.getdate(doc.transaction_date).strftime('%d-%b-%Y') }}</td>
                </tr>
                <tr>
                    <th width="20%">{{ _("Client Name") }}</th>
                    <td colspan="5">{{ doc.customer_name }} </td>
                </tr>
                <tr>
                    <th width="20%">{{ _("Address") }}</th>
                    {% if doc.address_display %}
                    {% set address = doc.address_display.replace('<br>', ', ').rstrip() %}
                    {% else %}
                    {% set address = "" %}
                    {% endif %}
                    <td colspan="5">{% if address[-1]==',' %}{{ address[:-1] }} {% else %} {{ address }} {% endif %}</td>
                </tr>
                {% for row in doc.engines %}
                <tr>
                    <th width="20%">{{ _("Type") }}</th>
                    <td>{{ row.model_type }}</td>
                    <th width="20%">{{ _("Model") }}</th>
                    <td>{{ row.engine_model }}</td>
                    <th> {{ _("Engine Sr. No.") }} </th>
                    <td>{{ row.engine_sl }}</td>
                </tr>
                {% endfor %}
                {% if doc.pi_for %}
                <tr>
                    <th width="20%">PI for</th>
                    <td colspan="3"><b>{{ doc.pi_for or "" }}</b></td>
                </tr>
                {% endif %}
                {% if doc.invoice_charge_type %}
                <tr>
                    <th width="20%">{{ _("Invoice Type") }}</th>
                    <td colspan="3"><b>{{ doc.invoice_charge_type or "" }}</b></td>
                </tr>
                {% endif %}
            </table>


            <p>{{ doc.quotation_body or ""}}</p>
            <table class="table table-bordered">
                <tr>
                    <th width="5%" class="text-center">S/N</th>
                    <th>Part No</th>
                    <th>Description</th>
                    <th class="text-center">Qty</th>
                    <th class="text-right">Unit Price ({{ doc.currency }})</th>
                    <th class="text-right">Total Price ({{ doc.currency }})</th>
                </tr>

                {% for row in doc.items %}
                <tr>
                    <td class="text-center">{{ loop.index }}</td>
                    <td>{{ row.item_code }}</td>
                    <td>{{ row.item_name }}</td>
                    <td class="text-center">{{ row.qty }} {{ row.uom }}</td>
                    <td class="text-right">{{ row.get_formatted('rate', doc) }}</td>
                    <td class="text-right">{{ row.get_formatted('amount', doc) }}</td>
                </tr>
                {% endfor %}
                <!-- Fetch From Quotation Start-->
                {% if doc.items[0].so_detail %}
                    {% set quotaion = frappe.db.get_value("Sales Order Item", doc.items[0].so_detail, "prevdoc_docname") %}
                    {% if quotaion %}
                        {% set quotaion_doc = frappe.get_doc("Quotation", quotaion) %}
                        <!-- Quotation -->

                <a href=""></a> <tr class="text-right bold">
                            <td colspan="5">{% if quotaion_doc._quotation_for=="Local" %}{{ _("Sub Total") }}<td>{{ doc.get_formatted('net_total') }}</td> {% else %} {{
                                _("Values of Goods") }} <td>{{ doc.get_formatted('total') }}</td> {% endif %}</td>

                        </tr>
                        {% if quotaion_doc.discount_amount and quotaion_doc._quotation_for=="Local" %}
                        <!-- <tr class="text-right bold">

                         <tr class="text-right bold">
                            <td colspan="5">{% if quotaion_doc._quotation_for=="Local" %}{{ _("Sub Total") }} {% else %} {{
                                _("Values of Goods") }} {% endif %}</td>
                            <td>{{ quotaion_doc.get_formatted('net_total') }}</td>
                        </tr>
                        {% if quotaion_doc.discount_amount and quotaion_doc._quotation_for=="Local" %}
                         <tr class="text-right bold">
                            <td colspan="5">{{ _("Discount") }}</td>
                            <td>{{ quotaion_doc.get_formatted('discount_amount') }}</td>
                        </tr>
                        <tr class="text-right bold">
                            <td colspan="5">{{ _("Total Amount") }} {% if quotaion_doc.discount_amount %} {{  _("After Discount") }} {% endif %}  in  {{ quotaion_doc.currency }}</td>
                            <td>{{ quotaion_doc.get_formatted('net_total') }}</td>
                        </tr> -->
<!--                        {% endif %}-->
<!--                        {% if quotaion_doc.sales_after_discount and quotaion_doc._quotation_for=="Local" %}-->
<!--                        <tr class="text-right bold">-->
<!--                            <td colspan="5">{{ _("Total Amount") }} {% if quotaion_doc.discount_amount %} {{  _("After Discount") }} {% endif %}  in {{ quotaion_doc.currency }}</td>-->
<!--                            <td>{{ quotaion_doc.get_formatted('sales_after_discount') }}</td>-->
<!--                        </tr>-->
<!--                        {% endif %}-->
                        </tr>
                        {% endif %}
                        {% if quotaion_doc.sales_after_discount and quotaion_doc._quotation_for=="Local" %}
                        <tr class="text-right bold">
                            <td colspan="5">{{ _("Total Amount") }} {% if quotaion_doc.discount_amount %} {{  _("After Discount") }} {% endif %}  in {{ quotaion_doc.currency }}</td>
                            <td>{{ quotaion_doc.get_formatted('sales_after_discount') }}</td>
                        </tr>
                        {% endif %}

                        {% for row in doc.taxes %}
                        <tr class="text-right bold">
                            <td colspan="5">{{ row.description }}</td>
                            <td>{{ row.get_formatted('tax_amount_after_discount_amount', doc) }}</td>
                        </tr>
                        {% endfor %}
                        {% if quotaion_doc._quotation_for=="Foreign" %}

                            <tr class="text-right bold">
                                <td colspan="5"> {{ _("Total Payable Amount in ") }} {{ quotaion_doc.currency }}  {% if quotaion_doc.import_method == "Air" %} (CPT, Dhaka) {% else %} (CFR, Chittagong) {% endif %}</td>
                                <td>{{ quotaion_doc.get_formatted('total_sales') }}</td>
                            </tr>

                            <!-- <tr class="text-right bold">
                                    <th colspan="2">{{ _("In words") }}</td>
                                    <td colspan="4" class="text-left">{{ in_words(quotaion_doc.total_sales, quotaion_doc.currency) }}</td>
                                </tr> -->
                        {% elif quotaion_doc._quotation_for=="Local" %}

                            <tr class="text-right bold">
                                <td colspan="5">{{ _("Net Payable") }}</td>
                                <td>{{ doc.get_formatted('rounded_total') }}</td>
                            </tr>

                            <tr class="text-right bold">
                                    <th colspan="2">{{ _("In words") }}</td>
                                    <td colspan="4" class="text-left">{{ in_words(doc.rounded_total, quotaion_doc.currency) }}</td>
                                </tr>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if doc.print_note %}
                <tr>
                    <td class="text-center bold" colspan="5">{{ doc.print_note or "" }}</td>
                </tr>
                {% endif %}
            </table>
            <div>{{ doc.terms }}</div>
        </div>
    </div>
  <!--   Body -->
</div>
 <!-- Eend HTML -->
{% endfor %}
</div>
