{%- from "templates/print_formats/standard_macros.html" import add_header -%}
<style>
    .print-format {
        font-family: Helvetica, sans-serif;
        font-size: 11px;
    }
    .print-format h5 {
        font-size: 20px;
    }
    /*#main{margin: 20px auto}*/
    .title {
        font-size: 1.25rem;
        text-align: center;
        /*background-color: #dddddd;
        border: 1px solid #000;*/
        padding: 5px;
        font-weight: bold;
        margin: 0;
    }

    table {
        border-color: #000;
        margin: 10px 0 !important;
    }

    .bold {
        font-weight: bold;
    }

    .table td,
    .table th {
        padding: .2rem .3rem !important;
    }

    .reg-no {
        display: block;
        border-top: 2px solid #eee;
        text-align: right;
    }

    .logo {
        width: 100%;
        /*overflow: hidden;*/
    }

    .logo img {
        /*width: 100%;*/
        max-height: 100px;
    }

    .logo.logo2 img {
        max-height: 83px
    }

    .tag-line {
        text-align: center;
        width: 100%;
        font-weight: bold;
        margin-bottom: 0;
    }

    .horline {
        width: 250px;
        height: 2px;
        background-color: #eee;
        display: block;
    }
</style>
{% for page in layout %}
<div class="page-break">
    <div {% if print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf" {% endif %}>
            <div class="letter-head">{{ letter_head or "" }}</div>
        </div>
    <!-- {{ letter_head or "" }} -->

    {% if print_settings.repeat_header_footer %}
    <div id="footer-html" class="visible-pdf">
        {% if not no_letterhead and footer %}
        <div class="letter-head-footer">
            {{ footer }}
        </div>
        {% endif %}
        <p class="text-center small page-number visible-pdf">
            {{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
        </p>
    </div>
    {% endif %}
    <div class="clearfix"></div>
    <div class="row">
        <div id="main" class="col-md-12">
            <h4 class="title">{{ doc.select_print_heading or _("Quotation") }}</h4>

            <table class="table table-bordered">
                <tr>
                    <th width="20%">{{ _("Ref No:") }}</th>
                    <td>{{ doc.name }}</td>
                    <th>{{ _("Date") }}</th>
                    <td colspan="3"> {{ frappe.utils.getdate(doc.transaction_date).strftime('%d-%b-%Y') }}</td>
                </tr>
                <tr>
                    <th width="20%">{{ _("Client Name") }}</th>
                    <td colspan="5">{{ doc.customer_name }} </td>
                </tr>
                <tr>
                    <th width="20%">{{ _("Address") }}</th>
                    {% if doc.address_display %}
                        {% set address = doc.address_display.replace('<br>', ', ').rstrip() %}
                    {% else %}
                        {% set address = "" %}
                    {% endif %}
                    <td colspan="5">{% if address[-1]==',' %}{{ address[:-1] }} {% else %} {{ address }} {% endif %}</td>
                </tr>
                {% for row in doc.engines %}
                <tr>
                    <th width="20%">{{ _("Type") }}</th>
                    <td>{{ row.model_type }}</td>
                    <th width="20%">{{ _("Model") }}</th>
                    <td>{{ row.engine_model }}</td>
                    <th> {{ _("Engine Sr. No.") }} </th>
                    <td>{{ row.engine_sl }}</td>
                </tr>
                {% endfor %}
                {% if doc.sales_person %}
                {% set employee = frappe.db.get_value("Sales Person", doc.sales_person, 'employee') %}
                {% if employee %}
                <tr>
                    {% set contact = frappe.get_doc("Employee", employee) %}
                    <th width="20%">{{ _("KEBD Contact") }}</th>
                    <td colspan="5"><b>{{ contact.employee_name or "" }}</b> , Phone: {{ contact.cell_number or "" }}, Email: {{ contact.prefered_email or "" }}</td>
                </tr>
                {% endif %}
                {% endif %}
            </table>

            <p>{{ doc.quotation_body or "" }}</p>
            <table class="table table-bordered">
                <tr>
                    <th width="5%">{{ _("S/N") }}</th>
                    <th>{{ _("Part Name") }}</th>
                    <th>{{ _("Part No") }}</th>
                    <th>{{ _("Qty") }}</th>
                    <th class="text-right">{{ _("Unit Price") }} ({{ doc.currency }})</th>
                    <th class="text-right">{{ _("Total Price") }} ({{ doc.currency }})</th>
                </tr>
                {% for row in doc.items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ row.item_name }}</td>
                    <td>{{ row.item_code }}</td>
                    <td>{{ row.qty }} {{ row.uom }}</td>
                    <td class="text-right">{{ row.get_formatted('rate', doc) }}</td>
                    <td class="text-right">{{ row.get_formatted('amount', doc) }}</td>
                </tr>
                {% endfor %}
                <tr class="text-right bold">
                    <td colspan="5">{% if doc._quotation_for=="Local" %}{{ _("Sub Total") }} {% else %} {{ _("Values of Goods") }} {% endif %}</td>
                    <td>{{ doc.get_formatted('total') }}</td>
                </tr>
                {% if doc.discount_amount %}
                <tr class="text-right bold">
                    <td colspan="5">{{ _("Discount") }}</td>
                    <td>{{ doc.get_formatted('discount_amount') }}</td>
                </tr>
                    {% if doc._quotation_for=="Local" %}
                    <tr class="text-right bold">
                        <td colspan="5">{{ _("Total Amount") }} {% if doc.discount_amount %} {{  _("After Discount") }} {% endif %}  in {{ doc.currency }}</td>
                        <td>{{ doc.get_formatted('net_total') }}</td>
                    </tr>
                    {% endif %}
                {% endif %}
                {% if doc.sales_after_discount %}
                <tr class="text-right bold">
                    <td colspan="5">{{ _("Total Amount") }} {% if doc.discount_amount %} {{  _("After Discount") }} {% endif %}  in {{ doc.currency }}</td>
                    <td>{{ doc.get_formatted('sales_after_discount') }}</td>
                </tr>
                {% endif %}

                {% for row in doc.taxes %}
                <tr class="text-right bold">
                    <td colspan="5">{{ row.description }}</td>
                    <td>{{ row.get_formatted('tax_amount_after_discount_amount', doc) }}</td>
                </tr>
                {% endfor %}
                {% if doc._quotation_for=="Foreign" %}
                    {% if doc.sales_air_freight_charge %}
                    <tr class="text-right bold">
                        <td colspan="5">{{ doc.import_method }} {{ _("Frieght Charge") }}</td>
                        <td>{{ doc.get_formatted('sales_air_freight_charge') }}</td>
                    </tr>
                    {% endif %}
                    {% if doc.sales_packing_and_handling_cost_amount %}
                    <tr class="text-right bold">
                        <td colspan="5">{{ _("Packaging & Handling Charge") }}</td>
                        <td>{{ doc.get_formatted('sales_packing_and_handling_cost_amount') }}</td>
                    </tr>
                    {% endif %}

                    <tr class="text-right bold">
                        <td colspan="5"> {{ _("Total Payable Amount in ") }} {{ doc.currency }}  {% if doc.import_method == "Air" %} (CPT, Dhaka) {% else %} (CFR, Chittagong) {% endif %}</td>
                        <td>{{ doc.get_formatted('total_sales') }} </td>
                    </tr>
                {% else %}
                    <tr class="text-right bold">
                        <td colspan="5">{{ _("Net Payable") }}</td>
                        <td>{{ doc.get_formatted('rounded_total') }}</td>
                    </tr>
                {% endif %}
                <tr class="bold">
                    <th colspan="2">{{ _("In words") }}</td>
                    <td colspan="4">{{ in_words(doc.total_sales if doc._quotation_for=="Foreign" else doc.rounded_total, doc.currency) }}</td>
                </tr>
            </table>
            <div>{{ doc.terms or "" }}</div>
        </div>
    </div>
</div>
{% endfor %}