.form-inner-toolbar .chart-container .title, .form-inner-toolbar .chart-container .sub-title {
    display: none;
}
.form-inner-toolbar .chart-container .graph-stats-container.graph-focus-margin {
    margin-bottom: 0 !important;
}

 #page-desktop > div{
    display: block;
    overflow: hidden;
    padding-top: 60px;
    overflow: hidden;
}
.bordered-div{border:1px solid #000}